.consultorios
  background-color white
  background-size cover
  height auto
  width 100%
  font-family fuente
  border 1px solid black
  text-align justify

.fondoconsul
  border 1px solid #0D47A1
  margin-bottom 78px
  box-shadow 2px 3px 30px rgba(0,0,0,0.5)
  width 100%
  padding 10px

.guardarconsul
  background-color #0D47A1
  font-family fuente
  color white
  &:hover
    color #23527c

.cancelarconsul
  background-color #B71C1C
  font-family fuente
  color white

@media screen and (max-width 1920px)
  .consultorios
    height auto
    position relative
    margin-bottom 31em

  .fondoconsul
    margin-top 20%
    margin-bottom 34.5%

@media screen and (max-height 1360px)
  .consultorios
    margin-bottom 19em

@media screen and (max-height 1080px)
  .consultorios
    margin-bottom 31.5em
