

.passconfirm
  background-color #166ba2
  height 28em
  padding-top 3.6em
  &-logo
    text-align center
    padding-top 1em
  &-logoImg
    width 100%
    border solid 4px #f9f9f9
    border-radius 50%
    height 15em
    width 15em
  &-icons
    padding 1em 1.5em 1em 0
    display inline-block
  &-form
    text-align center

.passconfirmForm
  text-align center
  padding-top 6em
  padding-bottom 5em
  &-form
    max-width 35em
    display inline-block
    border-radius: 0.5em
    border 1px solid #0D47A1
    margin-bottom 78px
    border 1px solid #0d47a1
    box-shadow 2px 3px 30px rgba(0,0,0,0.5)
    padding 3em
    border-radius: 0.5em
  &-title
    margin-bottom: 1em

.passconfirmForm-title
  color #0D47A1
  font-family fuente

@media (max-width: 522px)
  .passconfirmForm-form
    width 100%
  .passconfirmButton
    width 100%
    font-size 12px

@media (max-width 516px)
  .passconfirmForm
    width 80%
    margin-left 10%
    margin-right 10%


@media screen and (max-width: 1001px)
  .passconfirm
    &-content
      text-align center
    &-icons
      max-width 55px
      margin-right 0.5em
      display inline-block
    &-containerIcon
      text-align center
      display inline-block

@media screen and (max-width 1366px)
  .passconfirmForm
      height 35.9em
