<div class="mostrar">
	<div class="desplegar">
		<a href="" class="desplegar-menu">Menu <b class="caret"></b></a>
	</div>
	<div class="header posicion" ng-controller="LoginCtrl as login">
		<ul class="barra">
			<li ng-hide="login.isAuthenticated()" class="menu">
				<a class="letra" href="#"><img class="casita" src="../../img/home-page.svg" width="20px" height="30px" />Inicio</a>
			</li>
			<li ng-show="login.isAdmin()" class="menu">
				<a class="letra" href="#/admin"><img class="casita" src="../../img/home-page.svg" width="20px" height="30px" />Inicio</a>
			</li>
			<li ng-show="login.isRoot()" class="menu">
				<a class="letra" href="#/admin"><img class="casita" src="../../img/home-page.svg" width="20px" height="30px" />Inicio</a>
			</li>
			<li ng-show="login.isUser()" class="menu">
				<a class="letra" href="#/paciente"><img class="casita" src="../../img/home-page.svg" width="20px" height="30px" />Inicio</a>
			</li>
			<li ng-show="login.isFisio()" class="menu">
				<a class="letra" href="#/fisioterapeuta"><img class="casita" src="../../img/home-page.svg" width="20px" height="30px" />Inicio</a>
			</li>
			<li ng-show="login.isRecep()" class="menu">
				<a class="letra" href="#/recepcionista"><img class="casita" src="../../img/home-page.svg" width="20px" height="30px" />Inicio</a>
			</li>
			<li ng-hide="login.isAuthenticated()" class="menu">
				<a class="letra" href="#/usuarios/create"><img class="casita" src="../../img/form.svg" width="20px" height="30px" />Registro</a>
			</li>
			<li ng-show="login.isAdmin()" class="menu"><a class="letra">Clinicas <b class="caret"></b></a>
				<ul class="sub-menu">
					<li class="items"><a class="letra">Clinicas</a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/clinicas/list">Listar Clinicas</a></li>
							<li class="sub-item"><a class="letra" href="#/clinicas/create">Crear Clinicas</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Sedes</a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/sedes/list">Listar Sedes</a></li>
							<li class="sub-item"><a class="letra" href="#/sedes/create">Crear Sedes</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Consultorios</a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/consultorios/list">Listar Consultorios</a></li>
							<li class="sub-item"><a class="letra" href="#/consultorios/create">Crear Consultorios</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li ng-show="login.isAdmin()" class="menu"><a class="letra">Funcionarios <b class="caret"></b></a>
				<ul class="sub-menu">
					<li class="items"><a class="letra" href="#/funcionarios/list">Listar Funcionarios</a></li>
					<li class="items"><a class="letra" href="#/funcionarios/create">Crear Funcionarios</a></li>
					<li class="items"><a class="letra" href="#/usuarios/list">Listar Usuarios</a></li>
				</ul>
			</li>
			<li ng-show="login.isAdmin()" class="menu"><a class="letra">Parametrizacion <b class="caret"></b></a>
				<ul class="sub-menu">
					<li class="items"><a class="letra">Personal tratante <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/pertratante/list">Listar personal tratante</a></li>
							<li class="sub-item"><a class="letra" href="#/pertratante/create">Crear personal tratante</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Personal Atiende <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/peratiende/list">Listar personal atiende</a></li>
							<li class="sub-item"><a class="letra" href="#/peratiende/create">Crear personal atiende</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Causas externas <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/cexternas/list">Listar causa externa</a></li>
							<li class="sub-item"><a class="letra" href="#/cexternas/create">Crear causa externa</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Antecedentes <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/antecedentes/list">Listar antecedentes</a></li>
							<li class="sub-item"><a class="letra" href="#/antecedentes/create">Crear antecedentes</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Ocupaciones <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/ocupaciones/list">Listar ocupaciones</a></li>
							<li class="sub-item"><a class="letra" href="#/ocupaciones/create">Crear ocupaciones</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Entidades <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/entidades/list">Listar entidades</a></li>
							<li class="sub-item"><a class="letra" href="#/entidades/create">Crear entidades</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Tipos antecedentes <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/tiantecedentes/list">Listar tipos antecedentes</a></li>
							<li class="sub-item"><a class="letra" href="#/tiantecedentes/create">Crear tipos antecedentes</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li ng-show="login.isAdmin()" class="menu"><a class="letra" href="#/historias">Historias Clinicas</a></li>

			<li ng-show="login.isUser()" class="menu"><a class="letra" href="#/agenda">Consultar agenda</a></li>
			<li ng-show="login.isUser()" class="menu"><a class="letra" href="#/citas/create">Agendar cita</a></li>
			<!--li ng-show="login.isUser()" class="menu"><a class="letra" href="#/agenda/update">Modificar cita</a></li-->

			<li ng-show="login.isRoot()" class="menu"><a class="letra">Clinicas <b class="caret"></b></a>
				<ul class="sub-menu">
					<li class="items"><a class="letra">Clinicas</a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/clinicas/list">Listar Clinicas</a></li>
							<li class="sub-item"><a class="letra" href="#/clinicas/create">Crear Clinicas</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Sedes</a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/sedes/list">Listar Sedes</a></li>
							<li class="sub-item"><a class="letra" href="#/sedes/create">Crear Sedes</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Consultorios</a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/consultorios/list">Listar Consultorios</a></li>
							<li class="sub-item"><a class="letra" href="#/consultorios/create">Crear Consultorios</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li ng-show="login.isRoot()" class="menu"><a class="letra">Funcionarios <b class="caret"></b></a>
				<ul class="sub-menu">
					<li class="items"><a class="letra" href="#/funcionarios/list">Listar Funcionarios</a></li>
					<li class="items"><a class="letra" href="#/funcionarios/create">Crear Funcionarios</a></li>
					<li class="items"><a class="letra" href="#/usuarios/list">Listar Usuarios</a></li>
				</ul>
			</li>
			<li ng-show="login.isRoot()" class="menu"><a class="letra">Parametrizacion <b class="caret"></b></a>
				<ul class="sub-menu">
					<li class="items"><a class="letra">Personal tratante <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/pertratante/list">Listar personal tratante</a></li>
							<li class="sub-item"><a class="letra" href="#/pertratante/create">Crear personal tratante</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Personal Atiende <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/peratiende/list">Listar personal atiende</a></li>
							<li class="sub-item"><a class="letra" href="#/peratiende/create">Crear personal atiende</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Causas externas <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/cexternas/list">Listar causa externa</a></li>
							<li class="sub-item"><a class="letra" href="#/cexternas/create">Crear causa externa</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Antecedentes <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/antecedentes/list">Listar antecedentes</a></li>
							<li class="sub-item"><a class="letra" href="#/antecedentes/create">Crear antecedentes</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Ocupaciones <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/ocupaciones/list">Listar ocupaciones</a></li>
							<li class="sub-item"><a class="letra" href="#/ocupaciones/create">Crear ocupaciones</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Entidades <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/entidades/list">Listar entidades</a></li>
							<li class="sub-item"><a class="letra" href="#/entidades/create">Crear entidades</a></li>
						</ul>
					</li>
					<li class="items"><a class="letra">Tipos antecedentes <b class="caret"></b></a>
						<ul class="sub-menuItems">
							<li class="sub-item"><a class="letra" href="#/tiantecedentes/list">Listar tipos antecedentes</a></li>
							<li class="sub-item"><a class="letra" href="#/tiantecedentes/create">Crear tipos antecedentes</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li ng-show="login.isRoot()" class="menu"><a class="letra">Auditoria <b class="caret"></b></a>
				<ul class="sub-menu">
					<li class="items"><a class="letra" href="#/auditausuarios">Usuarios</a></li>
					<li class="items"><a class="letra" href="#/auditacitas">Citas</a></li>
				</ul>
			</li>

			<li ng-show="login.isFisio()" class="menu"><a class="letra" href="#/usuarios/list">Consultar paciente</a></li>
			<li ng-show="login.isFisio()" class="menu"><a class="letra" href="#/citas/list">Lista De Citas</a></li>
			<li ng-show="login.isFisio()" class="menu"><a class="letra" href="#/agenda">Agenda</a></li>
			<li ng-show="login.isFisio()" class="menu"><a class="letra" href="#/historias">Historias Clinicas</a></li>
			<!--li ng-show="login.isFisio()" class="menu"><a class="letra" href="#/fisioterapeuta">Historias clinicas</a></li-->

			<li ng-show="login.isRecep()" class="menu"><a class="letra" href="#/usuarios/create">Crear paciente</a></li>
			<li ng-show="login.isRecep()" class="menu"><a class="letra" href="#/usuarios/list">Lista de paciente</a></li>
			<li ng-show="login.isRecep()" class="menu"><a class="letra" href="#/citas/create">Agendar cita</a></li>
			<li ng-show="login.isRecep()" class="menu"><a class="letra" href="#/agenda/list">Lista De Citas</a></li>
			<li ng-show="login.isRecep()" class="menu"><a class="letra" href="#/agenda">Agenda</a></li>
			<li ng-show="login.isRecep()" class="menu"><a class="letra" href="#/historias">Historias Clinicas</a></li>
			<!--li ng-show="login.isRecep()" class="menu"><a class="letra" href="">Consultar citas</a></li-->
		</ul>
		<form name="vmForm" ng-hide="login.isAuthenticated()" role="form" novalidate class="navbar-form navbar-right login">
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email" required ng-model="login.user.email" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" required ng-model="login.user.password" />
			</div>
			<button type="submit" ng-disabled="vmForm.$invalid" ng-click="login.signIn()" class="btn btn-primary">Ingresar</button>
		</form>

		<ul class="seccion-iniciada" ng-show="login.isAuthenticated()">
			<li class="menu">
				<a href="" class="letra">{{login.getCurrentUser() | uppercase}}
                  <span class="caret">
              </a>
				<ul class="sub-menu">
					<li class="seccion-cerrada">
						<a class="cerrar" ng-click="login.logout()">Cerrar Sesión</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>


<section class="passconfirmForm">

  <form name="confirm" class="passconfirmForm-form"  ng-submit="vm.update()">
    <h1 class="text-center passconfirmForm-title">Restablecer contraseña </h1>

    <md-input-container class="md-block UserCreate-container">
    <label>Nueva Contraseña</label>
    <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w\S{7,}" required md-no-asterisk name="passw" type="password" ng-model="vm.password1">
    <div ng-messages="confirm.passw.$error">
			  <div ng-message="required">Este campo no puede estar vacio.</div>
			<div ng-message="pattern">La contraseña debe tener al menos 8 caracteres, Una mayuscula y una minuscula.</div>
    </div>
    </md-input-container>

    <md-input-container class="md-block UserCreate-container">
    <label>Confirme Contraseña</label>
    <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w\S{7,}" required md-no-asterisk name="pass" type="password" ng-model="vm.password2">
    <div ng-messages="confirm.pass.$error">
      <div ng-message="required">Este campo no puede estar vacio.</div>
      <div ng-message="pattern">La contraseña debe tener al menos 8 caracteres, Una mayuscula y una minuscula.</div>
    </md-input-container>


    <md-button type="submit" class="md-raised md-primary passconfirmButton">Restablecer contraseña</md-button>
  </form>

</section>
<piepagina/>
