.antecedentes
    background-color white
    background-size cover
    height auto
    width 100%
    font-family fuente
    border 1px solid black
    text-align justify

.antecedentes-list
    height 55.1em

.Titulo
    text-align center
    color #0D47A1

.table-con
  max-width 60%
  margin-left 20%
  @media screen and (max-width:1200px)
    max-width 70%
    margin-left 15%
  @media screen and (max-width:1100px)
    max-width 80%
    margin-left 10%
  @media screen and (max-width:900px)
    max-width 100%
    margin-left 0%

.fondoante
  border 1px solid #0D47A1
  margin-bottom 78px
  border 1px solid #0d47a1
  box-shadow 2px 3px 30px rgba(0,0,0,0.5)
  width 100%
  padding 10px


.guardarante
  background-color #0D47A1
  font-family fuente
  color white
  &:hover
    color #23527c

.cancelarante
  background-color #B71C1C
  font-family fuente
  color white

.e1
    margin auto
    width 100%
    background-color #0d47a1
    display none

.desplegar-menu1
  background-color #0d47a1
  color white
  text-decoration none
  padding 10px 12px
  display block
  font-size 18px

.desplegar-menu1:hover
  color white
  background-color #1b9bff

.lista
    background-color #0d47a1

.lista-ul
  margin 0
  padding 0

.lista-menu
    list-style none
    display inline-block
    margin 0 5px

.letra-lista
  list-style none
  text-decoration none
  font-size 18px
  color white
  display inline-block
  padding 15px 10px

.letra-lista:hover
  color white
  background-color #1b9bff

.menu-an
  padding-top 5px
  display inline-block
  list-style none

.menu-an:hover > .sub-menu
  display block
  -moz-transition all 1s ease 0.2s
  -webkit-transition all 1s ease 0.2s
  -o-transition all 1s ease 0.2s
  transition all 1s ease 0.2s

@media screen and (max-width 1070px)

  .e1
    display block
  .menu-an
    border-bottom 1px solid rgba(255,255,255, .3);
    width 100%

  .lista
    display none

  .mostrar1:hover > .lista
    display block

@media screen and (max-width 800px)
  .lista-menu
    border-bottom 1px solid rgba(255,255,255, .3);
    width 100%

@media screen and (max-width 1360px)
  .fondoante
    margin-top 1.4%

  .antecedentes
    height auto

@media screen and (max-width 1920px)

   .fondoante
     margin-top 25%
     margin-bottom 252.5px

  .antecedentes
    height auto

@media screen and (max-width 1327px)

  .antecedentes-list
    height auto

@media screen and (max-height 1360px)
  .antecedentes
    margin-bottom 16em

@media screen and (max-height 1080px)
  .antecedentes
    margin-bottom 31.2em
