.entidades
  background-color white
  background-size cover
  height auto
  width 100%
  font-family fuente
  border 1px solid black
  text-align justify

.fondoenti
  border 1px solid #0D47A1
  margin-bottom 120px
  box-shadow 2px 3px 30px rgba(0,0,0,0.5)
  width 100%
  padding 10px

.guardarenti
  background-color #0D47A1
  font-family fuente
  color white
  &:hover
    color #23527c

.cancelarenti
  background-color #B71C1C
  font-family fuente
  color white

@media screen and (max-width 1920px)
  .fondoenti
    margin-top 9em
    margin-bottom 18.5em

  .entidades
    height auto

@media screen and (max-height 1360px)
  .entidades
    margin-bottom 16em

@media screen and (max-height 1080px)
  .entidades
    margin-bottom 31.2em
