.entidades {
  background-color: #fff;
  background-size: cover;
  height: auto;
  width: 100%;
  font-family: fuente;
  border: 1px solid #000;
  text-align: justify;
}
.fondoenti {
  border: 1px solid #0d47a1;
  margin-bottom: 120px;
  box-shadow: 2px 3px 30px rgba(0,0,0,0.5);
  width: 100%;
  padding: 10px;
}
.guardarenti {
  background-color: #0d47a1;
  font-family: fuente;
  color: #fff;
}
.guardarenti:hover {
  color: #23527c;
}
.cancelarenti {
  background-color: #b71c1c;
  font-family: fuente;
  color: #fff;
}
@media screen and (max-width: 1920px) {
  .fondoenti {
    margin-top: 9em;
    margin-bottom: 18.5em;
  }
  .entidades {
    height: auto;
  }
}
@media screen and (max-height: 1360px) {
  .entidades {
    margin-bottom: 16em;
  }
}
@media screen and (max-height: 1080px) {
  .entidades {
    margin-bottom: 31.2em;
  }
}
