.imagen-inicio
  width 100%
  height 49.35em

.ACitas
    text-align center
    background-color #F5F5F5
    box-sizing border-box
    text-align center
    display inline-block
    width 400px
    margin 15px 10px 5px 8px
    padding 50px 13px
    border solid 1px #0D47A1

.Historias-clinicas
    text-align center
    background-color #F5F5F5
    box-sizing border-box
    text-align center
    display inline-block
    width 400px
    margin 15px 10px 5px 8px
    padding 50px 14px
    border solid 1px #0D47A1

.ServiciosL
    text-align center
    width 100%
    background-color #0d47a1
    color white

.DescripCita
.DescripHisto
    text-align justify
    font-size medium
    padding 10px

.Contenido-tips
.Contenido-consejos
.ServiciosL
    text-align center
    color white
    width 100%
    background-color #0d47a1
 
 
 .titu1 
  color #0d47a1
  font-size 1.5em
  margin-right 3%

.titu2 
  color #0d47a1
  font-size 1.5em
  margin-right 35%


.titu

  color #0d47a1
  margin-right 20%

   

.HistoCl
.aCita
    color #0d47a1


.modificar
  text-align center
  margin auto
  background black

.Tips
.consejos
.servicios-laom
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-direction row
  -ms-flex-direction row
  flex-direction row
  -webkit-flex-wrap nowrap
  -ms-flex-wrap nowrap
  flex-wrap nowrap
  -webkit-justify-content center
  -ms-flex-pack center
  justify-content center
  -webkit-align-content center
  -ms-flex-line-pack center
  align-content center
  -webkit-align-items flex-start
  -ms-flex-align start
  align-items flex-start

.organizacion
  background-color #E0E0E0
  text-align center
  display inline-block
  width 400px
  margin 15px 10px 5px 8px
  padding 50px 0
  border solid 1px #0D47A1

.poner
  font-size 15px
  font-family fuente
  text-align justify
  width 300px
  margin 0 50px

.poner
  color black
  font-family fuente

.consejos
  margin-bottom 10px


.organizacion2
  background-color #ECEFF1
  text-align center
  display inline-block
  width 400px
  margin 5px 10px 10px 8px
  padding 50px 0
  border solid 1px #0D47A1
  font-size 15px
  font-family fuente

.otros
  padding-bottom 71px



.otro
  padding-bottom 115px


.poner2
  color black
  font-family fuente
  text-align justify
  width 300px
  margin 0 50px


.imagenes
  height 200px

.imagenes2
  height 200px

.imagen
  border-radius 100%

@media screen and (max-width 399px)
  .fondo
    height 50%
    width 100%
  .img-responsive
    width 100%
    height 50%

 .contenido-principal1
    background-color #ECEFF1
    margin bottom 0

 .tips
    background-color #4DD0E1

.img-circle
    padding-top 5px

  .titu
    font-size 1.5em
    margin-left 22%

  .titu1
    font-size 1.5em

  .titu2
    font-size 1.5em
    margin-left 30%

  .centro
    font-size 1.5em

  .esguince
    font-size 1.5em

  .cuidado
    font-size 1.5em

@media screen and (max-width 480px)
  .poner2
  .poner
    width 200px

  .organizacion2
  .organizacion
    width 300px

  .imagenes2
    width 230px

  .img-responsive
    width 100%
    height 50%

  .ACitas
  .Historias-clinicas
    width 400px
    margin-left 2%

@media screen and (max-width 600px)

  .img-responsive
    width 100%
    height 50%

@media screen and (max-width 800px)

  .img-responsive
    width 100%
    height 50%

@media screen and (max-width 1000px)

  .img-responsive
    width 100%
    height 50%

 @media screen and (max-width 1200px)

  .img-responsive
    width 100%
    height 50%

@media screen and (max-width 1300px)
  .logo
    display none

  .Tips
  .consejos
  .servicios-laom
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-flex-direction column
    -ms-flex-direction column
    flex-direction column
    -webkit-justify-content center
    -ms-flex-pack center
    justify-content center
    -webkit-align-content center
    -ms-flex-line-pack center
    align-content center
    -webkit-align-items center
    -ms-flex-align center
    align-items center

@media screen and (max-width 854px) 

    .servicios-laom
      margin-left 25%
      margin-right 25%
      display -ms-flexbox
      display -webkit-flex
      display flex
      -webkit-flex-direction column
      -ms-flex-direction column
      flex-direction column
      -webkit-justify-content center
      -ms-flex-pack center
      justify-content center
      -webkit-align-content center
      -ms-flex-line-pack center
      align-content center
      -webkit-align-items center
      -ms-flex-align center
      align-items center

@media screen and (max-width 479px) 

    .servicios-laom
      margin-left 25%
      margin-right 25%
      display -ms-flexbox
      display -webkit-flex
      display flex
      -webkit-flex-direction column
      -ms-flex-direction column
      flex-direction column
      -webkit-justify-content center
      -ms-flex-pack center
      justify-content center
      -webkit-align-content center
      -ms-flex-line-pack center
      align-content center
      -webkit-align-items center
      -ms-flex-align center
      align-items center

@media screen and (max-width 440px) 
    .ACitas
        width 90%
        margin-left 2%
        
    .Historias-clinicas
        width 90%
        margin-left 2%

@media screen and (max-width 419px)
    .ACitas
        width 80%
        margin-left 46px
        
    .Historias-clinicas
        width 80%
        margin-left 46px

@media screen and (max-width 364px) 
  
    .ACitas
        width 80%
        margin-left 46px
        
    .Historias-clinicas
        width 80%
        margin-left 46px

@media screen and (max-width 1327px)
    .logo
      display none


    .Tips
    .consejos
    .servicios-laom
      display -ms-flexbox
      display -webkit-flex
      display flex
      -webkit-flex-direction column
      -ms-flex-direction column
      flex-direction column
      -webkit-justify-content center
      -ms-flex-pack center
      justify-content center
      -webkit-align-content center
      -ms-flex-line-pack center
      align-content center
      -webkit-align-items center
      -ms-flex-align center
      align-items center


@media screen and (min-width 1351px)
  .img-responsive
    width 100%
    height 50%
