.cexternas
  background-color white
  background-size cover
  height auto
  width 100%
  font-family fuente
  border 1px solid black
  text-align justify

.fondocex
    border 1px solid #0D47A1
    margin-bottom 196px
    border 1px solid #0D47A1
    margin-bottom 78px
    border 1px solid #0d47a1
    box-shadow 2px 3px 30px rgba(0,0,0,0.5)
    width 100%
    padding 10px

.guardarcex
    background-color #0D47A1
    font-family fuente
    color white
    &:hover
      color #23527c

.cancelarcex
    background-color #B71C1C
    font-family fuente
    color white

@media screen and (max-width 1360px)
  .fondocex
    margin-top 8.7%

@media screen and (max-width 1920px)
  .fondocex
    margin-top 11em
    margin-bottom 22em

  .cexternas
    position relative
    height auto

@media screen and (max-height 1360px)
  .cexternas
    margin-bottom 16em

@media screen and (max-height 1080px)
  .cexternas
    margin-bottom 31.2em
