.ocupaciones
  background-color white
  background-size cover
  width 100%
  font-family fuente
  height auto
  text-align justify
  border 1px solid black

.fondoocu
  border 1px solid #0D47A1
  margin-bottom 120px
  box-shadow 2px 3px 30px rgba(0,0,0,0.5)
  width 100%
  padding 10px


.guardarocu
  background-color #0D47A1
  font-family fuente
  color white
  &:hover
    color #23527c

.cancelarocu
  background-color #B71C1C
  font-family fuente
  color white

@media screen and (max-height 769px) and (min-height 708px)
  .fondoocu
    margin-bottom 182px

@media screen and (max-height 1081px) and (min-height 994px)
  .fondoocu
    margin-bottom 406px

@media screen and (max-height 1360px)
  .ocupaciones
    margin-bottom 16em

@media screen and (max-width 1920px)
  .fondoocu
    margin-top 11em
    margin-bottom 16.5em

  .ocupaciones
    height auto

@media screen and (max-height 1080px)
  .ocupaciones
    margin-bottom 31.1em
