@font-face
    font-family 'icomoon'
    src    url('../../fonts/fonts/icomoon.eot?djvnsd')
    src    url('../../fonts/fonts/icomoon.eot?djvnsd#iefix') format('embedded-opentype'),
        url('../../fonts/fonts/icomoon.ttf?djvnsd') format('truetype'),
        url('../../fonts/fonts/icomoon.woff?djvnsd') format('woff'),
        url('../../fonts/fonts/icomoon.svg?djvnsd#icomoon') format('svg')
    font-weight normal
    font-style normal


[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1

    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.Bienv, .Div-boton
	display inline-block



.Div-ppal
	height 36.2em

.icon-recep
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-flex-direction row
    -ms-flex-direction row
    flex-direction row
    -webkit-flex-wrap nowrap
    -ms-flex-wrap nowrap
    flex-wrap nowrap
    -webkit-justify-content center
    -ms-flex-pack center
    justify-content center
    -webkit-align-content center
    -ms-flex-line-pack center
    align-content center
    -webkit-align-items flex-start
    -ms-flex-align start
    align-items flex-start

.iconrecep1
.iconrecep2
.iconrecep3
    margin-left 8%
    margin-top 11%
    margin-right 5%

.Titulo-b
	font-family cursive
	color #F83A3A
	position absolute
	top -4em
	left 10em

.Ppal
	margin-top 10em
	opacity 0.5


.BotonR
	color white
	font-family cursive
	font-size 13px
    text-align center

.Boton-ppal
	background black
	padding 3px
	border-radius 6px


 .Tittle, .img-modulos, .icon-modulos
   display: inline-block

.img-modulos
      position relative
      left 20%

.icon-modulos
      font-size 50px
      text-align center
@media screen and (max-width 1920px) and (min-width 1800px)
    .Div-ppal
        height 65.6em

    .iconrecep1
    .iconrecep2
    .iconrecep3
        margin-left 8%
        top 2em
        margin-right 5%
        position relative

@media screen and (max-width 980px)
  .images-modulos
    display none

@media screen and (max-width 640px)
  .Titulo-b
    display none
  .Boton
    font-size:15px;
    margin:2em;
    margin-top:1em;

@media screen and (max-width 1200px)
  .iconrecep1
    margin-left 20%

  .iconrecep2
    display none

  .iconrecep3
    display none

  .Div-ppal
    height 50%

@media screen and (max-width 399px)
  .iconrecep1
    margin-left 25%
  .iconrecep2
    display none
  .iconrecep3
    display none


@media screen and (max-width 1300px)

  .icon-recep
     height 36.5em

  .iconrecep2
    display none
  .iconrecep3
    display none

  .icon-recep
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-flex-direction column
    -ms-flex-direction column
    flex-direction column
    -webkit-justify-content center
    -ms-flex-pack center
    justify-content center
    -webkit-align-content center
    -ms-flex-line-pack center
    align-content center
    -webkit-align-items center
    -ms-flex-align center
    align-items center
