@font-face {
  font-family: fuente;
  src: url("../../fonts/fonts/MyriadWebPro.ttf");
}
.titulo-historias {
  text-align: center;
  color: #0d47a1;
  font-size: 5em;
}
.hct {
  height: 100%;
}
.historias-cont {
  border: 1px solid #0d47a1;
  margin-bottom: 25px;
  width: 60%;
  margin-left: 24%;
  margin-right: 24%;
}
.Descini {
  height: 29.5em;
}
.Descini2 {
  margin-top: 9%;
}
.iniciales {
  color: #0d47a1;
  font-size: fuente;
  display: inline-block;
  margin-left: 20%;
  bottom: 1em;
}
.iniciales1 {
  color: #0d47a1;
  font-size: fuente;
  display: inline-block;
  margin-left: 5%;
  bottom: 1em;
}
.iniciales2 {
  color: #0d47a1;
  font-size: fuente;
  display: inline-block;
  margin-left: 5%;
  bottom: 4em;
}
.campos1 {
  background-color: #0d47a1;
  color: #fff;
  text-align: center;
  height: 4em !important;
  line-height: 4em !important;
  padding: 4px 4px 4px 4px;
}
.campos {
  background-color: #0d47a1;
  color: #fff;
  position: center;
  text-align: center;
  padding: 4px 4px 4px 4px;
}
.info {
  background-color: #b5b1b1;
  color: #000;
  position: center;
  text-align: center;
  padding: 4px 4px 4px 4px;
}
.paginacion {
  text-aling: center;
  margin-left: 20em;
}
.nav-item {
  background-color: #455a64;
}
.espac {
  padding: 2px 2px;
}
.Citas {
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: auto;
  font-family: fuente;
  border: 1px solid #000;
  text-align: justify;
}
.Citas2 {
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: auto;
  font-family: fuente;
  height: auto;
  text-align: justify;
  border: 1px solid #000;
}
.buton {
  color: #fff;
  font-size: 150%;
  padding: 0em 0.5em 0em 0.5em;
  margin-left: 94%;
}
.modal-content {
  width: 145%;
  margin-left: -7em;
}
.dos {
  width: 150%;
  margin-left: -6em;
}
.buton1 {
  color: #fff;
  font-size: 130%;
  padding: 0em 0.5em 0em 0.5em;
  margin-left: 94%;
}
.buton3 {
  color: #fff;
  font-size: 130%;
  padding: 0em 0.5em 0em 0.5em;
  margin-left: 94%;
}
.fondocita {
  border: 1px solid #0d47a1;
  box-shadow: 2px 3px 30px rgba(0,0,0,0.5);
  width: 100%;
  padding: 10px;
}
.centrado {
  margin-left: 30%;
  margin-top: 5%;
  bottom: 4em;
}
.guardarcita {
  background-color: #0d47a1;
  font-family: fuente;
  color: #fff;
}
.guardarcita:hover {
  color: #23527c;
}
.cancelarcita {
  background-color: #b71c1c;
  font-family: fuente;
  color: #fff;
}
.buscar {
  border-radius: 5px;
  margin: 15px 0 15px 10px;
  display: inline-block;
}
.Historias {
  padding-top: 5em;
}
.titulo {
  padding-left: 1em;
  margin: 0 30%;
  color: #0d47a1;
  text-aling: center;
  font-family: fuente;
}
.datos {
  font-size: 1.2em;
  margin: 0.6em 0 0.6em 0.6em;
  font-family: fuente;
  color: #0d47a1;
font-size
}
.datos-personales {
  max-width: 1000px;
  display: inline-block;
  box-shadow: 2px 3px 30px rgba(0,0,0,0.5);
  margin: 1em 23.8%;
  border: 1px solid #0d47a1;
  color: #0d47a1;
}
.columna {
  width: 400px;
  display: inline-block;
}
.autocompletar {
  padding-top: 5em;
}
.Titu-datos {
  font-family: fuente;
  font-size: 18px;
  color: #0d47a1;
  text-align: center;
}
@media screen and (max-width: 463px) {
  .iniciales1 {
    margin-left: 20%;
  }
  .iniciales2 {
    margin-left: 20%;
  }
  .columna {
    width: 300px;
  }
}
@media screen and (max-width: 465px) {
  .iniciales1 {
    margin-left: 20%;
  }
  .iniciales2 {
    margin-left: 20%;
  }
  .datos-personales {
    margin: 1em 2%;
  }
  .columna {
    width: 300;
  }
}
@media screen and (max-width: 700px) {
  .datos-personales {
    margin: 1em 6%;
  }
}
@media screen and (max-width: 920px) {
  .iniciales1 {
    margin-left: 35%;
  }
  .iniciales2 {
    margin-left: 35%;
  }
  .iniciales {
    margin-left: 35%;
  }
}
@media screen and (min-width: 1366px) {
  .Descini {
    height: 18.2em;
  }
  .Descini2 {
    margin-top: 1%;
  }
}
@media screen and (max-width: 1327px) {
  .Citas {
    height: 35em;
  }
}
@media screen and (max-height: 1080px) {
  .Citas2 {
    position: relative;
    margin-bottom: 31.3em;
  }
  .Citas {
    margin-bottom: 48.9em;
  }
  .formuAgen {
    margin-top: 15em;
    margin-bottom: 13em;
  }
  .citas-centrado {
    height: 107.1em;
  }
}
@media screen and (max-height: 700px) {
  .Citas2 {
    margin-bottom: 19.2em;
  }
  .Citas {
    margin-bottom: 19.2em;
  }
  .formuAgen {
    margin-top: 5em;
    margin-bottom: 5em;
  }
  .citas-centrado {
    height: 107.1em;
  }
}
